@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
html, body {
    margin: 0;
    padding: 0;
}
body {
    font-family: ubuntu, 'sans-serif';
    color: rgb(241, 235, 233);
    height: 100vh;
    width: 100vw;
    font-size: 30px;
    text-transform: capitalize;
}

header{
    height: 10vh;
    background: rgb(30, 200, 255);
}

article {
    height: 90vh;
    background: rgb(32, 31, 31);
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

section {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-items: center;
}

main > article > section:nth-of-type(1) {
    height: 20vh;
}

main > article > section:nth-of-type(2) {
    height: 30vh;
}

main > article > section:nth-of-type(3) {
    height: 15vh;
}
main > article > section:nth-of-type(4) {
    height: 25vh;
}

ul {
    width: 7rem;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-content: center;
    background: rgb(35, 35, 35);
    padding: 0;
}

ul > li {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    text-align: center;
}

ul > li > label {
    margin-right: 1rem;
    color: rgb(231, 231, 231);
}

ul > li > input {
    text-indent: 0.3rem;
    background: rgb(231, 231, 231);
    
}

input, button {
    border: 0.1px solid rgb(35, 35, 35);
    font-size: 26px;
}
/* firefox */
input[type='number'] {
    -moz-appearance:textfield;
}
/* chrome, safari, edge */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

ul > li, ul > li > input, section > input{
    height: 3rem;
    width: 7rem;
}

section > input {
    color: rgb(231, 231, 231);
    text-indent: 0.5rem;
    background: rgb(35, 35, 35);
    border-radius: 3px;
    padding: 0;
    outline: none;
}

input[type="color"]::-webkit-color-swatch-wrapper {
	padding: 0;
}
input[type="color"]::-webkit-color-swatch {
	border: none;
}

input[type="color"]{
    height: 7rem;
    width: 14rem;
    
}

button {
    height: 2.9rem;
    width: 6.9rem;
    border-radius: 3px;
    background: rgb(231, 231, 231);
    text-indent: .4rem;
    direction: rtl;
    text-align: right;
    font-size: 30px;
}
button:hover {
    transition: 0.1s;
    transform: scale(1.02);
    background: white;  
    
}



